@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;

      --primary: 24 9.8% 10%;
      --primary-foreground: 60 9.1% 97.8%;

      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;

      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 20 14.3% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;

      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;

      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;

      --primary: 60 9.1% 97.8%;
      --primary-foreground: 24 9.8% 10%;

      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;

      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;

      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 60 9.1% 97.8%;

      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 24 5.7% 82.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .no-scrollbar::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      @apply -translate-y-2 text-xsmall-regular;
    }
  
    input:focus ~ label {
      @apply left-0;
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 1px solid #212121;
      -webkit-text-fill-color: #212121;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
  
  @layer components {
    .content-container {
      @apply max-w-[1440px] w-full mx-auto px-6;
    }
  
    .contrast-btn {
      @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
    }
  
    .text-xsmall-regular {
      @apply text-[10px] leading-4 font-normal;
    }
  
    .text-small-regular {
      @apply text-xs leading-5 font-normal;
    }
  
    .text-small-semi {
      @apply text-xs leading-5 font-semibold;
    }
  
    .text-base-regular {
      @apply text-[16px] leading-6 font-normal;
    }
  
    .text-base-semi {
      @apply text-[20px] leading-6 font-semibold;
    }
  
    .text-large-regular {
      @apply text-base leading-6 font-normal;
    }
  
    .text-large-semi {
      @apply text-[30px] leading-6 font-semibold;
    }
  
    .text-xl-regular {
      @apply text-2xl leading-[36px] font-normal;
    }
  
    .text-xl-semi {
      @apply text-2xl leading-[36px] font-semibold;
    }
  
    .text-2xl-regular {
      @apply text-[30px] leading-[48px] font-normal;
    }
  
    .text-2xl-semi {
      @apply text-[30px] leading-[48px] font-semibold;
    }
  
    .text-3xl-regular {
      @apply text-[32px] leading-[44px] font-normal;
    }
  
    .text-3xl-semi {
      @apply text-[32px] leading-[44px] font-semibold;
    }
  }
  
  
  /* .width{
    flex:3;
  } */
  
  
  
  
  
  .font_weight{
   font-weight: 400;
  }
  
  .overflow::-webkit-scrollbar {
   display: none;
  }
